@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --wood-50: #FAF9F7;
    --background: var(--wood-50); 
}

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: var(--wood-50);
}